// Background colors
$light-background: #edeaed;
$dark-background: #140b43;

// Font colors
$light-font: #1e1c1c;
$dark-font: #edeaed;

// Highlight colors
$highlight1: #d00440;
$highlight2: #3f0744;

// Transition duration
$transition-duration: 1s;
